.container-neo {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas: 
    "bardab-box-neo bardab-box-neo container-neo__nav";
    width: clamp(40rem, 100% ,100rem);
    margin: 3rem;
  padding-top: 3rem;
  background-color: #D2DFC9;
  /* box-shadow: 20px 20px 50px 15px rgba(0, 0, 0, 0.3); */
}

.bardab-box-neo{
  grid-area: bardab-box-neo;
  width: 10.375rem;
  height: 4.75rem;
  background-color: black;
  top: 0;
  /* left: 9.625rem; */
  left: 8vw;
}

.bardab-box-neo__text {
  color: white;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3rem;
  text-decoration: underline;
  text-align: center;
  margin:auto;
  padding: 5%;
}

.container-neo__nav {
  grid-area: container-neo__nav;
  right: 0;
  top: 0;
  display: flex;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.5rem;
  align-items: center;
}

.container-neo__nav a {
  color: black;
  text-decoration: none;
  margin-right: 2rem;
}

@media (max-width: 1000px) {
  .bardab-box-neo {
    width: 8.375rem;
    height: 3.75rem;
  }
  .bardab-box-neo__text {
    font-size: 2.4rem;

  }
}