.button--general {
  position: relative;
  background-color: var(--secondary-color);
  border: none;
  font-size: 1.7rem;
  font-family: var(--primary-font);
  font-weight: 400;
  color: #FFFFFF;
  padding: 20px;
  width: 240px;
  text-align: center;
  transition-duration: 0.3s;
  overflow: hidden;
  cursor: pointer;
  border-radius: 4px;
  margin: 2rem;
}

.button--general:active:after {
  opacity: 1;
  transition: 0s;
}

.button--general span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button--general span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button--general:hover {
  background-color: var(--tertiary-color);
  color:var(--secondary-color);
}

.button--general:hover span {
  padding-right: 25px;
}

.button--general:hover span:after {
  opacity: 1;
  right: 0;
}
